.darklight-0-0-1 {
  overflow: hidden;
  position: relative;
}
body.dark-mode-animate .darklight-0-0-1>.light, .darklight-0-0-1>.dark {
  transition: opacity .3s;
}
.darklight-0-0-1>.dark {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
}
body.dark .darklight-0-0-1>.dark {
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .darklight-0-0-1>.dark {
    opacity: 1;
  }
}
  body.dark .darklight-0-0-1>.light {
    opacity: 0;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .darklight-0-0-1>.light {
    opacity: 0;
  }
}
  .big-0-0-2 * {
    font-size: 24px;
  }
  .heading-0-0-3 {
    cursor: pointer;
    position: relative;
  }
  .heading-0-0-3 .icon-font {
    top: 0;
    left: -32px;
    bottom: 0;
    display: flex;
    opacity: 0;
    position: absolute;
    transform: translateX(-8px);
    transition: opacity .1s, transform .1s;
    align-items: center;
    padding-right: 8px;
  }
  .heading-0-0-3:hover .icon-font {
    opacity: 0.5;
    transform: none;
  }
  .heading-0-0-3:hover .icon-font:hover {
    opacity: 1;
  }
  .watermark-0-0-4 {
    color: #424242;
    cursor: pointer;
    display: inline-block;
    opacity: 0.2;
    font-size: 8px;
    transition: opacity .15s;
    text-decoration: none !important;
  }
  body.dark-mode-animate .watermark-0-0-4 {
    transition: opacity .15s, color .3s;
  }
  .watermark-0-0-4:hover {
    opacity: 1;
    text-decoration: none;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .watermark-0-0-4 {
    color: #eeeeee;
  }
}
  body.dark .watermark-0-0-4 {
    color: #eeeeee;
  }
  .watermark-0-0-4 svg {
    width: 2.8rem;
    display: block;
    margin-top: .25rem;
  }
  .watermark-0-0-4 svg g {
    fill: #424242;
  }
  body.dark-mode-animate .watermark-0-0-4 svg g {
    transition: fill .3s;
  }
  body.dark .watermark-0-0-4 svg g {
    fill: #eeeeee;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .watermark-0-0-4 svg g {
    fill: #eeeeee;
  }
}
  .header-0-0-5 {
    top: 0;
    right: 0;
    padding: 32px;
    z-index: 100;
    position: fixed;
    text-align: right;
  }
  .footer-0-0-6 {
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    display: flex;
    z-index: 102;
    position: fixed;
    background: rgba(245, 245, 245, 0.85);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .03);
    align-items: center;
    backdrop-filter: blur(12px);
    justify-content: center;
    -webkit-backdrop-filter: blur(12px);
  }
  body.dark-mode-animate .footer-0-0-6 {
    transition: background .3s;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .footer-0-0-6 {
    background: rgba(17, 17, 17, 0.85);
  }
}
  body.dark .footer-0-0-6 {
    background: rgba(17, 17, 17, 0.85);
  }
  .footer-0-0-6 .main {
    overflow: hidden;
    flex-grow: 1;
    text-align: center;
  }
  .footer-0-0-6 .left {
    padding-left: 32px;
  }
  .footer-0-0-6 .right {
    padding-right: 32px;
  }
@media screen and (max-width: 800px) {
  .footer-0-0-6 .left {
    padding-left: 16px;
  }
  .footer-0-0-6 .right {
    padding-right: 16px;
  }
}
  .footer-0-0-6 .main>.inside {
    display: inline-flex;
    overflow: auto;
    max-width: 100%;
    align-items: center;
  }
  .footer-0-0-6 .main>.inside hr {
    width: 2px;
    border: none;
    height: 16px;
    margin: 16px;
    background: #e0e0e0;
  }
  .footer-0-0-6 .main>.inside a {
    text-decoration: none;
  }
  .footer-0-0-6 .main>.inside a:hover {
    text-decoration: underline ;
  }
  body.dark-mode-animate .footer-0-0-6 .main>.inside hr {
    transition: background .3s;
  }
  body.dark .footer-0-0-6 .main>.inside hr {
    background: #313131;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .footer-0-0-6 .main>.inside hr {
    background: #313131;
  }
}
  .toc-0-0-7 {
    top: 0;
    left: 0;
    width: calc(50vw - 464px);
    bottom: 0;
    display: flex;
    z-index: 101;
    position: fixed;
    transform: translateX(-50vw);
    background: #f1f1f1;
    border-right: 1px solid #e7e7e7;
    flex-direction: column;
    padding-bottom: 64px;
  }
  body.dark-mode-animate .toc-0-0-7 {
    transition: background .3s, border-color .3s;
  }
  body.dark .toc-0-0-7 {
    background: #1f1f1f;
    border-color: #282828;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-7 {
    background: #1f1f1f;
    border-color: #282828;
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-7 {
    width: 100vw;
    transform: translateX(-100vw);
  }
}
  .toc-0-0-7.animated {
    transition: transform .3s;
  }
  .toc-0-0-7.active {
    transform: translateX(0);
  }
  .toc-0-0-7 p {
    margin: 0;
  }
  .toc-0-0-7 a {
    border: 1px solid transparent;
    display: block;
    padding: 8px;
    margin-left: -8px;
    border-right: none;
    margin-right: 1px;
    border-radius: 3px;
    text-decoration: none;
  }
  body.dark-mode-animate .toc-0-0-7 a {
    transition: border-color .3s, background .3s;
  }
  .toc-0-0-7 a:hover {
    background: #f5f5f5;
    text-decoration: none;
  }
  .toc-0-0-7 a.current {
    background: #f5f5f5;
    border-color: #e7e7e7;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  body.dark .toc-0-0-7 a.current {
    background: hsl(0, 0%, 6.8%);
    border-color: #282828;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-7 a.current {
    background: #111111;
    border-color: #282828;
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-7 a.current {
    border-right: 1px solid;
    margin-right: -8px;
    border-radius: 3px;
  }
}
  body.dark .toc-0-0-7 a:hover {
    background: hsl(0, 0%, 6.8%);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-7 a:hover {
    background: hsl(0, 0%, 6.8%);
  }
}
  body.dark-mode-animate .toc-0-0-7.animated {
    transition: transform .3s, background .3s, border-color .3s;
  }
  .content-0-0-8 {
    padding: 32px;
    overflow: auto;
    flex-grow: 1;
    margin-right: -1px;
    padding-right: 0;
  }
@media screen and (max-width: 1200px) {
  .content-0-0-8 {
    margin-right: 0;
    padding-right: 32px;
  }
}
  .contentnav-0-0-10 {
    right: 0;
    width: calc(50vw - 496px);
    bottom: 96px;
    position: fixed;
    font-size: 12px;
    border-left: 1px dashed #e0e0e0;
    margin-left: 64px;
    padding-left: 48px;
  }
@media screen and (max-width: 1200px) {
  .contentnav-0-0-10 {
    display: none;
  }
}
  .contentnav-0-0-10 a {
    color: #424242;
    display: block;
    opacity: 0.2;
    text-decoration: none;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .contentnav-0-0-10 {
    border-color: #313131;
  }
  body:not(.dark-mode-animate) .contentnav-0-0-10 a {
    color: #eeeeee;
  }
  body:not(.dark-mode-animate) .contentnav-0-0-10 a:hover, body:not(.dark-mode-animate) .contentnav-0-0-10 a.active {
    color: #f4eeff;
  }
}
  body.dark .contentnav-0-0-10 {
    border-color: #313131;
  }
  body.dark .contentnav-0-0-10 a {
    color: #eeeeee;
  }
  body.dark .contentnav-0-0-10 a:hover, body.dark .contentnav-0-0-10 a.active {
    color: #f4eeff;
  }
  body.dark-mode-animate .contentnav-0-0-10 a {
    transition: color .3s, opacity .3s;
  }
  .contentnav-0-0-10 a:hover, .contentnav-0-0-10 a.active {
    color: #363062;
    opacity: 1;
  }
  .contentnav-0-0-10 a.h2 {
    margin-left: 12px;
  }
  .contentnav-0-0-10 a.h3 {
    margin-left: 24px;
  }
  .contentnav-0-0-10 a.h4 {
    margin-left: 36px;
  }
  .contentnav-0-0-10 a.h5 {
    margin-left: 48px;
  }
  .contentnav-0-0-10 a.h6 {
    margin-left: 60px;
  }
* {
  touch-action: manipulation;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body {
  color: #424242;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  overflow-x: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body.dark-mode-animate {
  transition: color .3s, background .3s;
}
a {
  color: #363062;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
body.dark-mode-animate a {
  transition: color .3s;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) a {
    color: #f4eeff;
  }
}
body.dark a {
  color: #f4eeff;
}
.container {
  margin: 0 auto;
  padding: 96px 16px;
  max-width: 768px;
  transition: opacity .15s;
}
hr {
  border: none;
  margin: 64px;
  background: none;
  border-top: 1px solid #e0e0e0;
}
body.dark-mode-animate hr {
  transition: border-color .3s;
}
body.dark hr {
  border-color: #313131;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) hr {
    border-color: #313131;
  }
}
blockquote {
  color: #9e9e9e;
  margin: 0;
  padding: 16px 40px;
  position: relative;
  background: #f5f5f5;
  border-radius: 3px;
}
body.dark-mode-animate blockquote {
  transition: color .3s, background .3s;
}
blockquote:after {
  top: 16px;
  left: 16px;
  width: 8px;
  bottom: 16px;
  content: '';
  display: block;
  position: absolute;
  background: radial-gradient(circle at center, #e0e0e0 50%, transparent 52%),transparent;
  background-size: 4px 4px;
}
body.dark-mode-animate blockquote:after {
  transition: color .3s, background .3s;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) {
    color: #eeeeee;
    background: #111111;
  }
  body:not(.dark-mode-animate) blockquote {
    color: #cacaca;
    background: #111111;
  }
  body:not(.dark-mode-animate) blockquote:after {
    background: radial-gradient(circle at center, #363636 50%, transparent 52%),transparent;
    background-size: 4px 4px;
  }
}
body.dark {
  color: #eeeeee;
  background: #111111;
}
body.dark blockquote {
  color: #cacaca;
  background: #111111;
}
body.dark blockquote:after {
  background: radial-gradient(circle at center, #363636 50%, transparent 52%),transparent;
  background-size: 4px 4px;
}
img {
  max-width: 100%;
}
iframe {
  width: 100%;
  border: none;
  background: white;
  border-radius: 3px;
}
code {
  color: #363062;
  padding: 4px;
  font-size: .85em;
  background: #f5f5f5;
  border-radius: 3px;
}
body.dark-mode-animate code {
  transition: color .3s, background .3s;
}
body.dark code {
  color: #f4eeff;
  background: #111111;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) code {
    color: #f4eeff;
    background: #111111;
  }
}